/* Whole page or multi-section Desktop styles */
body {
    font-family: sans-serif;
}
header,
main {
    width: 60%;
    margin: 0 auto;
    max-width: 1200px;
}
.color-inherit {
    color: inherit;
}
.box-shadow-class {
    box-shadow: 5px 5px 20px -3px black;
}
.location-current-times,
.location-select {
    display: block;
    width: 85%;
    margin: 0 auto;
}

/* Header Desktop styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 800;
}
header h1 {
    margin-right: auto;
    font-weight: 900;
}
header p {
    margin-left: auto;
}
header a {
    text-decoration: none;
}
.local-time-div {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}
.current-local-time {
    display: block;
    font-size: 2.25rem;
}

/* Main Desktop styles */
main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    border-radius: 10px;
    padding-top: 6rem;
    min-height: 80rem;
}

/* Location Form Section */
.location-select {
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 6rem;
}

/* Location Time Section */
.location-current-time-div {
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.location-name {
    font-size: 2rem;
    margin: 15px;
}
.location-date {
    margin: 15px;
}
.location-time {
    font-size: 3.25rem;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.location-time-am-pm {
    font-size: 0.9rem;
    line-height: 0;
    padding-left: 10px;
}

/* Footer Desktop styles */
footer {
    text-align: center;
}

/* CSS for Night Theme */
.night-theme-body {
    color: #293644;
    background-color: rgba(200, 186, 161, 0.7);
}

.night-theme-main {
    background-image: url("../images/background-night.jpg");
    background-color: #334b48;
}

.night-theme-location-time-select {
    background-color: rgba(200, 186, 161, 0.75);
}

/* CSS for Day Theme */
.day-theme-body {
    color: #c6bdb8;
    background-color: rgba(28, 40, 46);
}

.day-theme-main {
    background-image: url("../images/background-day.jpg");
    background-color: #81b2ca;
}

.day-theme-location-time-select {
    background-color: rgba(28, 40, 46, 0.65);
}

/* Responsive Styles */

/* Larger devices (less than 1080px) */
@media (max-width: 1080px) {
    header,
    main {
        width: 70%;
    }
    .location-time {
        font-size: 3rem;
    }
}
/* Medium devices (less than 991px) */
@media (max-width: 991px) {
    header,
    main {
        width: 85%;
    }
    .location-time {
        font-size: 2.5rem;
    }
}
/* Medium-small devices (less than 767px) */
@media (max-width: 767px) {
    header,
    main {
        width: 95%;
    }
    h1 {
        font-size: 2rem;
    }
    main {
        min-height: 70rem;
    }
    .current-local-time {
        font-size: 1.75rem;
    }
    .location-current-times,
    .location-select {
        width: 90%;
    }
    .location-select {
        margin-bottom: 5rem;
    }
    .location-current-time-div {
        padding: 15px;
        margin-bottom: 4rem;
    }
    .location-date {
        font-size: 0.9rem;
    }
    .location-name {
        font-size: 1.5rem;
    }
    .location-time {
        font-size: 1.75rem;
    }
    .location-time-am-pm {
        font-size: 0.7rem;
    }
}
/* Smallest devices (less than 480px) */
@media (max-width: 480px) {
    header,
    main {
        width: 99.5%;
    }
    h1 {
        font-size: 1.5rem;
    }
    main {
        min-height: 50rem;
    }
    .current-local-time {
        font-size: 1.25rem;
    }
    .location-current-times,
    .location-select {
        width: 98%;
    }
    .location-select {
        margin-bottom: 4rem;
    }
    .location-current-time-div {
        padding: 5px;
        margin-bottom: 2rem;
    }
    .location-date {
        font-size: 0.7rem;
    }
    .location-name {
        font-size: 1rem;
    }
    .location-time {
        font-size: 1rem;
    }
    .location-time-am-pm {
        padding-left: 2px;
        font-size: 0.7rem;
    }
}
